@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lora:ital@1&display=swap');
body {
  margin: 0px !important;
  padding: 0px !important;
  background-color: #EEEAE1 !important;
}
.homemyown{
  position: absolute;
  left: -150px;
  top: 500px;
}
.homemyown1{
  position: absolute;
  left: 1300px;
  top: 1400px;
}
.imagewidth{
  width: 300px;
  border-radius: 10px;
}
.homeownbutton{
  width: 400px; 
  height: 100px; 
  position: absolute;
  left: 40%;
top: 1800px;
}
.extrastyles{
  width: 300px;
  height: 60px;
    border-radius: 45%;  
  background-color: white; 
  color: black; 
  border: none; 
  align-items: center;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
}
.containermain{
height: 1500px;
}
.heycontainer{
  width: 900px;
  height: 400px;
  transform: translate(250px, 20px) rotate(8deg);
  border: 1px solid gray;
  border-radius: 10px;
}
.thenew{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  /* font-style: italic; */
}
.SkinCare{
  
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.SkinCarefont{
  font-size: 250px;
}

.four-pointed-star{
  position:relative;
  margin:1em auto;
  width:1em;
  font-size:2em;
}

.four-pointed-star:before{
  content:"";
  position:absolute;
  background:black;
  width:1em;
  height:1.15em;
  transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.four-pointed-star:after{
  content:"";
  position:absolute;
  background:black;
  width:1em;
  height:1.15em;
  transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

.align{
  position: absolute;
  left: 70px;
  top: 1000px;
}
.alignleft{
  position: absolute;
  right: 70px;
  top: 1200px;
}
.sunflower1{
  position: absolute;
  width: 100px;
  left: 60%;
}
.sunflower2{
  position: absolute;
  width: 90px;
  top: 2100px;
  left: 40%;
}
.sunflower3{
  position: absolute;
  width: 75px;
  left: 200px;
}
.styledstar{
  position: absolute;
  left: 100px;
  top:30%
}
.styledstar2{
  position: absolute;
  right: 100px;
  top:70%
}
.heights{
  height: 900px;
}
.arrange{
  position: absolute;
  right: 10%;
}